.header-top{
    background-color: #fdfdfd;
    z-index: 99999;
    margin-bottom:5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.15);
    transition: all .2s ease-in-out;
    height:75px;
    top:-75px;
}
.fixed-header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:99999;
    border-bottom:none;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}
.pt-174{
    padding-top:174px !important;
}

.landing-body .landing-wrapper #header .header-content {
    background:none;
    display: flex;
    align-items: flex-end;
    /*padding-left:80px;
    padding-top:80px;
    padding-bottom: 0px;*/
    /* padding-right: 80px; */
    padding: 120px 0 0px 140px;
    justify-content: space-between;
}
@media screen and (min-width:781px){
.landing-body .landing-wrapper #header .header-content > :first-child{
    margin-bottom: 50px;
    min-height: 374px;
}    

.landing-body .landing-wrapper #header .header-content div.img-parent img{
    height:400px;
}
}

.landing-body .landing-wrapper #header .header-content div.img-parent img{
    /* max-width: 400px; */
    /* min-height: 400px; */
}

.landing-body .landing-wrapper #header .header-content div.img-parent{
    display: flex;
    align-items: flex-end;
}


.landing-body .landing-wrapper #footer{
    padding-bottom: 5px;
    padding-top: 20px;
}

.landing-body .landing-wrapper #footer > .p-grid{
    /* padding-left:140px; */
    padding-right: 0;
}

.main{
    padding: 40px;
    border:none;
}

@media screen and (min-width: 1201px){
    .main {
        padding: 30px 15%;
    }
}
@media screen and (max-width:1200px){
    .main {
        padding: 30px 10%;
    }
}
    
@media screen and (max-width:1000px){
    .main {
        padding: 20px 8%;
    }
}
    
@media screen and (max-width:800px){
    .main {
        padding: 20px 5%;
    }
}

@media screen and (max-width:600px){
    .main {
        padding: 20px 3%;
    }
}

@media screen and (max-width:400px){
    .main {
        padding: 20px 5px;
    }
}

.card{
    /*padding:0;*/
}
.no-border{
    border:none !important;
}
.purple-text{
    /*color:#673AB7;*/
    color:#924287;
}
.btn-link:hover{
    background-color: #512DA8;
    color: #ffffff;
    border-color: #512DA8;
}

.landing-body .landing-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.main{
    flex-grow:1;
}
.pt-0{
    padding-top:0px !important;
}

/*START footer enhancements*/
.landing-body .landing-wrapper #footer > :nth-child(2){
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-left: 0;
    padding-right: 0;
}

.landing-body .landing-wrapper #footer .footer-menu  > .p-grid > *{
    width:20%;
    /* text-align:center; */
    text-align: left;
}
.landing-body .landing-wrapper #footer .footer-menu span{
    /* text-align:center; */
    text-align: left;
}

.landing-body .landing-wrapper #footer > .p-grid > :first-child{
    width: auto;
    /* padding-right: 22px; */
    min-width: 206px;
    padding-right: 151px;
}

.landing-body .landing-wrapper #footer > .p-grid > :nth-child(2){
    flex-grow:1;
    max-width: 100%;
    padding-right: 150px;
    padding-right: 12px;
    padding-right: 0px !important;
    padding-left: 0px !important;
}


@media screen and (max-width:1259px){
    .landing-body .landing-wrapper #footer > .p-grid > :first-child{
        /* flex-grow:1; */
        display:flex;
        justify-content:center;
        margin-bottom:10px;
    }
    
    .landing-body .landing-wrapper #footer .footer-menu  > .p-grid > *:not(:first-child):not(:last-child){
        padding-right:0;
        padding-left:0;
    }
    .landing-body .landing-wrapper #footer .footer-menu  > .p-grid > :last-child{
        padding-left:0;
    }
    .landing-body .landing-wrapper #footer .footer-menu  > .p-grid > :last-child{
        padding-right:0;
    }
}



@media screen and (max-width:760px){
    .landing-body .landing-wrapper #footer > .p-grid > :nth-child(2) > .p-grid{
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    .landing-body .landing-wrapper #footer > .p-grid > :nth-child(2) > .p-grid > *{
        width:100%;
    }
}

@media screen and (max-width:450px){
    .landing-body .landing-wrapper #footer > :nth-child(2){
        flex-direction:column-reverse !important;
        align-items: center !important;
    }

    .landing-body .landing-wrapper #footer > :nth-child(2) p{
        text-align: center !important;
    }
}

@media screen and (max-width:1200px){
    .landing-body .landing-wrapper #footer{
        /* padding-left:100px; */
        /* padding-right:100px; */
        /* padding-left: 0; */
        /* padding-right: 0; */
    }
    }
    
    @media screen and (max-width:1110px){
    .landing-body .landing-wrapper #footer{
        /* padding-left: 80px; */
        /* padding-right: 80px; */
        padding-left: 0;
        padding-right: 0;
    }
    }
    
    @media screen and (max-width:870px){
    .landing-body .landing-wrapper #footer{
        /* padding-left:60px; */
        /* padding-right:60px; */
        padding-left: 0;
        padding-right: 0;
    }
    }
    
    /*START new updates*/
    @media screen and (max-width: 760px){
    .landing-body .landing-wrapper #footer > .p-grid > :first-child{
        /* justify-content: flex-start; */
        padding-left: 0;
    }
    .landing-body .landing-wrapper #footer > .p-grid > :nth-child(2) > .p-grid > *,
    .landing-body .landing-wrapper #footer .footer-menu span{
        text-align: left;
    }
    .landing-body .landing-wrapper #footer .footer-menu > .p-grid > * {
        padding-right: 0;
        padding-left: 0;
    }
    .landing-body .landing-wrapper #footer > :nth-child(2){
        padding:0;
        margin-right: -0.5em;
        margin-left: -0.5em;
        margin-top: -0.5em;
        align-items: flex-end;
        flex-direction: row;
    }
    }    
    @media screen and (max-width: 340px){
    .landing-body .landing-wrapper #footer > :nth-child(2){
        flex-direction: column-reverse !important;
        align-items: center !important;
        /*align-items: flex-start !important;*/
    }
    }
    /*END new updates*/

/*END footer enhancements


/*START homepage enhancement*/
.landing-body .landing-wrapper #header .header-content div.img-parent img.mobile-only{
            display:none;
        }

        @media screen and (max-width:1200px){
    .landing-body .landing-wrapper #header .header-content{
        padding-left:100px;
    }
    }
@media screen and (max-width:1000px){
    .landing-body .landing-wrapper #header .header-content{
        padding-left:70px;
    }
    }

    @media screen and (max-width:900px){
    .landing-body .landing-wrapper #header .header-content{
        padding-left:60px;
        padding-right: 0;
    }
    }

    @media screen and (max-width:800px){
    .landing-body .landing-wrapper #header .header-content{
        padding-left:50px;
        padding-right: 0;
    }
    }
    
    @media screen and (max-width:700px){
    .landing-body .landing-wrapper #header .header-content{
        padding-left:40px;
        padding-right:40px;
    }
    }


    @media screen and (max-width:600px){
    .landing-body .landing-wrapper #header .header-content{
        padding-left:30px;
        padding-right:30px;
    }
    }
    @media screen and (max-width:500px){
    .landing-body .landing-wrapper #header .header-content{
        padding-left:20px;
        padding-right:20px;
    }
    }
    @media screen and (max-width:400px){
    .landing-body .landing-wrapper #header .header-content{
        padding-left:10px;
        padding-right:10px;
    }
    }

    @media screen and (max-width:780px){
    .landing-body .landing-wrapper #header .header-content{
        flex-direction:column;
        align-items: center;
        padding-left:40px;
        padding-right:40px;
        padding-left: 0;
        padding-right: 0;
    }
    .landing-body .landing-wrapper #header .header-content > :first-child{
        padding-left: 40px;
        padding-right:40px;
    }
    .landing-body .landing-wrapper #header .header-content > :nth-child(2){
        padding-left:10px;
        padding-right:10px;
    }
     .landing-body .landing-wrapper #header .header-content > .img-parent{
        align-self: center;
        margin-top:30px;
    }
    }

    @media screen and (max-width:525px){
    .landing-body .landing-wrapper #header .header-content > :nth-child(2){
        padding-left:0px;
        padding-right:0px;
    }
    }
    

    @media screen and (max-width: 575px){

    .landing-body .landing-wrapper #header .header-content h1{
            font-size: 42px;
    }

    .landing-body .landing-wrapper #header .header-content p{
        font-size: 17px;
        max-width: none;
    }
    }

    @media screen and (max-width:780px){
        .landing-body .landing-wrapper #header .header-content div.img-parent img.mobile-only{
            display: inline-block;
            max-width: 100%;
        }
        .landing-body .landing-wrapper #header .header-content div.img-parent img.mobile-only + img{
            display:none;
        }
    }
    .modal{
        position: fixed;
        z-index: 99999;
        top: 0px;
        left: 0px;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 2px;
        width:100%;
        height:100%;
        display: flex;
        padding: 50px 5%;
        overflow: auto;
        justify-content: center;
    }
    .hide{
        display:none !important;
    }
    .modal-close-btn{
        position: absolute;
            right: 3px;
            top: 3px;
            background: rgba(0, 0, 0, 0.53);
            color: white;
            border: none;
            border-radius: 100%;
            height: 35px;
            width: 35px;
            font-size: 20px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            outline:none;
    }
/*END homepage enhancement*/
/*START new updates*/
.main > h1:first-of-type{
    font-size: 33px;
    color: #924287;
}
.modal-trigger{
    cursor:pointer;
}



.footer-menu-child{
    display: flex;
    justify-content: space-between;
}
.footer-menu-child > *{
    flex-grow:1;
    /* word-break: break-word; */
    /* width: 100%; */
}

.footer-menu-child > *:not(:first-child){
    padding-left: 60px;
}
.footer-bottom{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-right: 150px;
    width: 100%;
}
.landing-body .landing-wrapper #footer > .p-grid{
        flex-wrap:nowrap;
        padding: 0 !important;
        width: 100%;
}
.landing-body .landing-wrapper #footer > .p-grid > :first-child{
    padding-left: 0px !important;
    /* padding-right: 0px !important; */
}
@media screen and (max-width:1322px){
    .landing-body .landing-wrapper #footer > .p-grid > :first-child{
        padding-right: 110px !important;
    }
    .footer-menu-child > *:not(:first-child){
        padding-left:30px;
    }
    
}
/******/
.landing-body .landing-wrapper #footer .footer-menu a{
    text-align:left;
}
@media screen and (max-width: 991px){
    .landing-body .landing-wrapper #footer > .p-grid{
        flex-direction: column;
    }
    .landing-body .landing-wrapper #footer > .p-grid > :first-child{
        padding-right: 0 !important;
    }
}

/**********/
@media screen and (max-width:1158px){
    .landing-body .landing-wrapper #footer > .p-grid{
        padding-left:100px;
        padding-left: 0;
    }
    .landing-body .landing-wrapper #header .header-top{
        padding-left:100px;
        padding-right:100px;
    }
    .landing-body .landing-wrapper #footer > :nth-child(2){
        padding-left:93px;
        padding-right: 93px;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .landing-body .landing-wrapper #footer > .p-grid > :nth-child(2){
        padding-right: 17px;
    }
    .landing-body .landing-wrapper #footer{
        padding-left:100px;
        padding-right: 100px;
    }
}

@media screen and (max-width:1067px){
    .landing-body .landing-wrapper #footer > .p-grid{
        padding-left: 70px;
        padding-left: 0;
        width: 100%;
    }
    .landing-body .landing-wrapper #header .header-top{
        padding-left: 70px;
        padding-right: 70px;
    }
    .landing-body .landing-wrapper #footer > :nth-child(2){
        padding-left: 0;
        padding-right: 0;
    }
    .landing-body .landing-wrapper #footer > .p-grid > :nth-child(2){
        padding-right: 70px;
    }
     .landing-body .landing-wrapper #footer{
        padding-left: 70px;
        padding-right: 70px;
    }
}

@media screen and (max-width:1006px){
    .landing-body .landing-wrapper #footer > .p-grid{
        padding-left: 50px;
    }
    .landing-body .landing-wrapper #header .header-top{
        padding-left: 50px;
        padding-right: 50px;
    }
    .landing-body .landing-wrapper #footer > :nth-child(2){
        padding-left: 43px;
        padding-right: 43px;
    }
    .landing-body .landing-wrapper #footer > .p-grid > :nth-child(2){
        padding-right: 50px;
    }
    .landing-body .landing-wrapper #footer{
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (max-width:678px){
    .landing-body .landing-wrapper #footer > .p-grid{
        padding-left: 25px;
        padding-right: 25px;
    }
    .landing-body .landing-wrapper #header .header-top{
        padding-left: 25px;
        padding-right: 25px;
    }
    .landing-body .landing-wrapper #footer > :nth-child(2){
        padding-left: 25px;
        padding-right: 28px;
    }
    .landing-body .landing-wrapper #footer > .p-grid > :nth-child(2){
        padding-right: 7px;
    }

    .landing-body .landing-wrapper #footer > .p-grid > :first-child{
        padding-right: 25px;
    }

}
/******/
@media screen and (max-width:655px){
    .footer-menu-child {
    flex-direction: column;
    align-items: center;
    }
    .landing-body .landing-wrapper #footer .footer-menu a{
        text-align:center;
    }
    .landing-body .landing-wrapper #footer .footer-menu span{
        text-align:center;
    }
    .footer-menu-child > *:not(:first-child){
        padding-left: 0px;
    }
    .footer-menu-child > *{
        margin-bottom:30px;
    }
    .footer-menu-child > :last-child a,
    .footer-menu-child > :last-child span{
        justify-content:center;
    }
}

.main {
    font-size: 112%;
}
/*END new updates*/