.fixed-header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color: #fdfdfd;
    z-index:99999;
    box-shadow: 0 0 5px;
}
.pt-174{
    padding-top:174px !important;
}

.landing-body .landing-wrapper #header .header-content {
    background:none;
    display: flex;
    align-items: center;
    padding-left:80px;
    padding-top:80px;
    padding-bottom: 0px;
}

.landing-body .landing-wrapper #header .header-content > :first-child{
    flex-grow:1;
}
.landing-body .landing-wrapper #header .header-content div.img-parent img{
    max-width: 400px;
}

.landing-body .landing-wrapper #header .header-content div.img-parent{
    display: flex;
    align-items: flex-end;
}

